.navbar {
    min-height: 80px; /* Change this value to adjust the height */
}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}