{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Validate PDF{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-6 col-md-4 col-sm-12">

            <h2 class="card-title text-center mb-4">PDF Validation</h2>
                <img src="{% static 'img/pdf-home.png' %}" class="center-image" height="270px" alt="">
                <p class="card-text">PDF validation is the process of ensuring that a PDF
                    document complies with
                    certain standards or criteria, such as format specifications or digital
                    signatures. It is
                    important because:</p>
                <ul class="card-text">
                    <li>It helps ensure the integrity and authenticity of the document,
                        making it reliable
                        for legal and official purposes.
                    </li>
                    <li>It prevents tampering or unauthorized modifications to the document,
                        preserving its
                        original content.
                    </li>
                    <li>It enhances document security by verifying digital signatures and
                        encryption, if
                        applicable.
                    </li>
                    <li>It ensures compatibility with different software and devices, as
                        compliant PDFs are
                        more likely to render correctly across platforms.
                    </li>
                </ul>
            </div>

            <div class="col-lg-6 col-md-4 col-sm-12 mt-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-danger text-center mb-5">Upload the PDF to Validate</h2>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form | crispy }}

                            <div class="text-right mt-5">
                                <button class="btn btn-outline-danger border-radius-one" type="submit">Validate
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
