{% extends 'base.html' %}
{% load static %}
{% block title %}My Validated PDF list{% endblock %}

{% block content %}
    <div class="container">
        {% if pdf_list %}
            <div class="col-12">
                <div class="text-center">
                    <img src="{% static 'img/pdf-home.png' %}" height="250px"
                         class=" d-inline center-image"
                         alt="">
                    <h2 class="d-inline text-danger">Validated PDF list</h2>
                </div>
            </div>
        {% endif %}
        <div class="row mt-5">


            <div class="col-12 mt-5">
                <table class="table table-bordered">
                    {% if pdf_list %}
                        <thead>
                    <tr class="font-weight-bold text-center">
                        <th scope="col">ID</th>
                        <th scope="col">Verified</th>
                        <th scope="col">Hashes Valid</th>
                        <th scope="col">Signatures Valid</th>
                        <th scope="col">Check</th>
                        <th scope="col">Download</th>
                    </tr>
                    </thead>
                    {% endif %}
                    <tbody>
                    {% for pdf in pdf_list %}
                        <tr class="text-center">
                            <th scope="row"> {{ pdf.pk }}</th>
                            <td >
                                {% if pdf.all_signers_verified %}
                                    <i class="fas fa-check-circle green-circle"></i>
                                {% else %}
                                    <i class="fas fa-times-circle red-circle"></i>
                                {% endif %}
                            </td>

                            <td>
                                {% if pdf.is_hashes_valid %}
                                    <i class="fas fa-check-circle green-circle"></i>
                                {% else %}
                                    <i class="fas fa-times-circle red-circle"></i>
                                {% endif %}
                            </td>
                            <td>
                                {% if pdf.is_signatures_valid %}
                                    <i class="fas fa-check-circle green-circle"></i>
                                {% else %}
                                    <i class="fas fa-times-circle red-circle"></i>
                                {% endif %}
                            </td>
                            <td><a href="{% url 'signature-validator-view:pdf-result' pdf.pk %}"
                                   class="btn btn-outline-success border-radius-one">Details</a>
                            </td>
                            <td><a href="{{ pdf.pdf_file.url }}"
                                   target="_blank"
                                   class="btn btn-outline-danger border-radius-one">Download PDF</a>
                            </td>
                        </tr>
                    {% empty %}
                        <div class="col-12">
                            <div class="text-center">
                                <img src="{% static 'img/pdf-home.png' %}" height="250px"
                                     class=" d-inline center-image"
                                     alt="">
                                <h2 class="d-inline text-danger">You don't have any validated PDF documents.</h2>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt-5">
            {% include 'base/paginator.html' %}
        </div>
    </div>

{% endblock %}
