{% extends 'base.html' %}

{% block title %}Reports{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-6 col-md-4 col-sm-12">
            <h2 class="text-danger mb-5">Reports</h2>
            <div class="card-group">
                <div class="card text-white bg-success mb-3 mr-5" style="max-width: 18rem;">
                    <div class="card-header">
                        <h2 class="bg-success"> No of PDF tested</h2>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ pdf_docs_tested }}</p>
                    </div>
                </div>
                <div class="card text-white bg-info mb-3 mr-5" style="max-width: 18rem;">
                    <div class="card-header">
                        <h2 class="bg-info"> No of verified PDF </h2>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ verified_pdf }}</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-6 col-md-4 col-sm-12">
            <div class="card">
                <div class="card-body">


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
